services:
  app:
    build: .
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      - DBUrl=${POSTGRES_DB_URL}
      - BUNDEBUG=${BUNDEBUG:-0}
      - APIKey=${API_KEY}

volumes:
  pgdata:
